body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.simple-keyboard {
  max-width: 500px;
  margin: 0 auto;
}

.simple-keyboard .hg-button {
  text-transform: uppercase;
}

.color-yellow {
  background-color: #ffef00 !important;
}

.color-green {
  background-color: #1fff00 !important;
}

.color-grey {
  background-color: #808080 !important;
}
