.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);;
  grid-template-rows: repeat(6, 1fr);
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "column-0 column-1 column-2 column-3 column-4"
    "cell-1-0 cell-1-1 cell-1-2 cell-1-3 cell-1-4"
    "cell-2-0 cell-2-1 cell-2-2 cell-2-3 cell-2-4"
    "cell-3-0 cell-3-1 cell-3-2 cell-3-3 cell-3-4"
    "cell-4-0 cell-4-1 cell-4-2 cell-4-3 cell-4-4"
    "cell-5-0 cell-5-1 cell-5-2 cell-5-3 cell-5-4";
  width: 300px;
  margin: 50px auto;
}

.cell-container {
  height: 60px;
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  perspective: 1000px;
  text-transform: uppercase;
  width: 60px;
}

.cell-empty, .cell {
  border: 2px solid lightgrey;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.cell {
  border-color: #000;
}

.cell.color-grey {
  border-color: var(--color-grey);
}

.cell.color-yellow {
  border-color: var(--color-yellow);
}

.cell.color-green {
  border-color: var(--color-green);
}

.cell-card {
  transform: rotateX(180deg);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cell-card-front, .cell-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.cell-card-back {
  transform: rotateX(180deg);
}

.column-0 .cell-card {
  transition-delay: 0ms;
}

.column-1 .cell-card {
  transition-delay: 500ms;
}

.column-2 .cell-card {
  transition-delay: 1s;
}

.column-3 .cell-card {
  transition-delay: 1500ms;
}

.column-4 .cell-card {
  transition-delay: 2s;
}
